{{
def MANAGED_GOOGLE_MAP(name, parent=None):
    @managed_html.content_block(name,
                                Field('scheme', 'text', widget=SQLFORM.widgets.text.widget, label='スキーマ', 
                                      default="""{schema: {
        name:       'Text',
        email:      { dataType: 'email', validators: ['required', 'email'] },
        start:      { type: 'DateTime' },
        contact:    { type: 'Object', subSchema: {
                        name: { validators: ['required'] },
                        phone: {}
                    }
                    }
        address:    { type: 'NestedModel', model: Address },
        notes:      { type: 'List', help: 'Helpful notes' }
    } }
                                """), parent=parent)
    def _(content):}}
            <div>test</div>
            <pre></pre>
            <script>

var scheme = {{=XML(content.scheme)}};
console.log(scheme);
            
            </script>
       {{
    pass
    _()
pass
}}